.m-442218 .modal-header{display:-ms-flexbox;display:flex;-ms-flex-align:start;align-items:flex-start;-ms-flex-pack:justify;justify-content:space-between;padding:16px;border-top-left-radius:.3rem;border-top-right-radius:.3rem}.m-442218 .modal-header .close{padding:16px;margin:-16px -16px -16px auto}.m-442218 .modal-title{margin-bottom:0;line-height:1.5}.m-442218 .modal-body{position:relative;-ms-flex:1 1 auto;flex:1 1 auto;padding:16px}

.m-442218 button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
}

.m-442218 .btn-block {
    display: block;
    width: 100%;
}
.m-442218 .pb-4, .m-442218 .py-4 {
    padding-bottom: 24px!important;
}

.m-442218 .btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 16px;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.m-442218 button, .m-442218 select {
    text-transform: none;
}

.m-442218 .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

@media (min-width: 768px) {
    .m-442218 .col-md {
        -ms-flex-preferred-size:0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%
    }

    .m-442218 .col-md-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: none
    }

    .m-442218 .col-md-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%
    }

    .m-442218 .col-md-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }

    .m-442218 .col-md-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }

    .m-442218 .col-md-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .m-442218 .col-md-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%
    }

    .m-442218 .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    .m-442218 .col-md-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%
    }

    .m-442218 .col-md-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%
    }

    .m-442218 .col-md-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }

    .m-442218 .col-md-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%
    }

    .m-442218 .col-md-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%
    }

    .m-442218 .col-md-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }

    .m-442218 .order-md-first {
        -ms-flex-order: -1;
        order: -1
    }

    .m-442218 .order-md-last {
        -ms-flex-order: 13;
        order: 13
    }

    .m-442218 .order-md-0 {
        -ms-flex-order: 0;
        order: 0
    }

    .m-442218 .order-md-1 {
        -ms-flex-order: 1;
        order: 1
    }

    .m-442218 .order-md-2 {
        -ms-flex-order: 2;
        order: 2
    }

    .m-442218 .order-md-3 {
        -ms-flex-order: 3;
        order: 3
    }

    .m-442218 .order-md-4 {
        -ms-flex-order: 4;
        order: 4
    }

    .m-442218 .order-md-5 {
        -ms-flex-order: 5;
        order: 5
    }

    .m-442218 .order-md-6 {
        -ms-flex-order: 6;
        order: 6
    }

    .m-442218 .order-md-7 {
        -ms-flex-order: 7;
        order: 7
    }

    .m-442218 .order-md-8 {
        -ms-flex-order: 8;
        order: 8
    }

    .m-442218 .order-md-9 {
        -ms-flex-order: 9;
        order: 9
    }

    .m-442218 .order-md-10 {
        -ms-flex-order: 10;
        order: 10
    }

    .m-442218 .order-md-11 {
        -ms-flex-order: 11;
        order: 11
    }

    .m-442218 .order-md-12 {
        -ms-flex-order: 12;
        order: 12
    }

    .m-442218 .offset-md-0 {
        margin-left: 0
    }

    .m-442218 .offset-md-1 {
        margin-left: 8.333333%
    }

    .m-442218 .offset-md-2 {
        margin-left: 16.666667%
    }

    .m-442218 .offset-md-3 {
        margin-left: 25%
    }

    .m-442218 .offset-md-4 {
        margin-left: 33.333333%
    }

    .m-442218 .offset-md-5 {
        margin-left: 41.666667%
    }

    .m-442218 .offset-md-6 {
        margin-left: 50%
    }

    .m-442218 .offset-md-7 {
        margin-left: 58.333333%
    }

    .m-442218 .offset-md-8 {
        margin-left: 66.666667%
    }

    .m-442218 .offset-md-9 {
        margin-left: 75%
    }

    .m-442218 .offset-md-10 {
        margin-left: 83.333333%
    }

    .m-442218 .offset-md-11 {
        margin-left: 91.666667%
    }

    .m-442218 .pb-4, .m-442218 .py-4 {
        padding-bottom: 24px!important;
    }

    .m-442218 .pt-4, .m-442218 .py-4 {
        padding-top: 24px!important;
    }
}
.m-442218 .col, .m-442218 .col-1, .m-442218 .col-10, .m-442218 .col-11, .m-442218 .col-12, .m-442218 .col-2, .m-442218 .col-3, .m-442218 .col-4, .m-442218 .col-5, .m-442218 .col-6, .m-442218 .col-7, .m-442218 .col-8, .m-442218 .col-9, .m-442218 .col-auto, .m-442218 .col-lg, .m-442218 .col-lg-1, .m-442218 .col-lg-10, .m-442218 .col-lg-11, .m-442218 .col-lg-12, .m-442218 .col-lg-2, .m-442218 .col-lg-3, .m-442218 .col-lg-4, .m-442218 .col-lg-5, .m-442218 .col-lg-6, .m-442218 .col-lg-7, .m-442218 .col-lg-8, .m-442218 .col-lg-9, .m-442218 .col-lg-auto, .m-442218 .col-md, .m-442218 .col-md-1, .m-442218 .col-md-10, .m-442218 .col-md-11, .m-442218 .col-md-12, .m-442218 .col-md-2, .m-442218 .col-md-3, .m-442218 .col-md-4, .m-442218 .col-md-5, .m-442218 .col-md-6, .m-442218 .col-md-7, .m-442218 .col-md-8, .m-442218 .col-md-9, .m-442218 .col-md-auto, .m-442218 .col-sm, .m-442218 .col-sm-1, .m-442218 .col-sm-10, .m-442218 .col-sm-11, .m-442218 .col-sm-12, .m-442218 .col-sm-2, .m-442218 .col-sm-3, .m-442218 .col-sm-4, .m-442218 .col-sm-5, .m-442218 .col-sm-6, .m-442218 .col-sm-7, .m-442218 .col-sm-8, .m-442218 .col-sm-9, .m-442218 .col-sm-auto, .m-442218 .col-xl, .m-442218 .col-xl-1, .m-442218 .col-xl-10, .m-442218 .col-xl-11, .m-442218 .col-xl-12, .m-442218 .col-xl-2, .m-442218 .col-xl-3, .m-442218 .col-xl-4, .m-442218 .col-xl-5, .m-442218 .col-xl-6, .m-442218 .col-xl-7, .m-442218 .col-xl-8, .m-442218 .col-xl-9, .m-442218 .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.m-442218 .btn:focus, .m-442218 .btn:hover {
    text-decoration: none;
}
.m-442218 .pt-3, .m-442218 .py-3 {
    padding-top: 16px!important;
}

.m-442218 .h2, .m-442218 h2{
    font-size: 32px !important;
}
/* Start Custom CSS Mod*/
.m-442218 .mme-border {
    width:100%;
    padding: 15px 30px 25px 30px;
}

.m-442218 .modal-content svg{
    display:initial;
}

.m-442218 input[type="text"], 
.m-442218 input[type="password"], 
.m-442218 input[type="email"], 
.m-442218 input[type="url"], 
.m-442218 input[type="date"], 
.m-442218 input[type="month"], 
.m-442218 input[type="time"], 
.m-442218 input[type="datetime"], 
.m-442218 input[type="datetime-local"], 
.m-442218 input[type="week"], 
.m-442218 input[type="number"], 
.m-442218 input[type="search"], 
.m-442218 input[type="tel"], 
.m-442218 input[type="color"] {
   display:initial; 
   padding: 1px 0 6px 0;
}

.m-442218.mme-gateway h1,
.m-442218.mme-gateway .button-default {
    font-family: "LexendDeca", Lato, Arial;
}

.m-442218.mme-gateway .btn-disabled {
    background-color: #b2b2b2;
    color: #ffffff;
}

.m-442218.mme-gateway .btn-green {
    background: #04FF8E;
    color: #000000;
}

.m-442218.mme-gateway .btn-green:hover {
    background: #04FF8E;
    color: #000000;
}

.m-442218.mme-gateway  .btn-blue, .m-442218.mme-gateway  .btn-blue:hover {
    background: #00d1d0;
}

.m-442218.mme-gateway  .btn-blue:hover,
.m-442218.mme-gateway  .btn-blue:active {
    color: #ffffff;
}

.entry-content img{
    display: block;
    margin: 0 auto;
}

/* Entry */
.m-442218.mme-gateway .cart-header .cart-title {
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #b2b2b2;
    
}

.m-442218.mme-gateway .cart-content {
    margin-top: 60px;
    margin-bottom: 60px;
}

/* Default forms */

.m-442218.mme-gateway .form-element .floating-label {
    color: #b2b2b2;
}

.m-442218.mme-gateway .form-element .inputText,
.m-442218.mme-gateway .form-element-select .inputSelect {
    border-bottom: 1px solid #c6c6c6;
    font-weight: 400;
    color:#777;
    border-radius:0;
    -webkit-border-radius:0;
    -moz-border-radius:0;
}

.m-442218.mme-gateway #mme-login-container .form-element .inputText,
.m-442218 #mme-login-container .form-element input:not(:focus):valid:placeholder-shown ~ .floating-label,
.m-442218 #mme-login-container .form-element input:focus ~ .floating-label, 
.m-442218 #mme-login-container .form-element input:not(:focus):valid ~ .floating-label,
.m-442218.mme-gateway #mme-login-container .show.mme-pinlabel,
.m-442218.mme-gateway #mme-login-container .for-remember-wrap .forgot-passcode {
    color:#fff;
}
.forgot-passcode{
    text-decoration: underline !important;
}
.m-442218.mme-gateway #mme-forgot-container .form-element .inputText,
.m-442218 #mme-forgot-container .form-element input:not(:focus):valid:placeholder-shown ~ .floating-label,
.m-442218 #mme-forgot-container .form-element input:focus ~ .floating-label, 
.m-442218 #mme-forgot-container .form-element input:not(:focus):valid ~ .floating-label,
.m-442218.mme-gateway #mme-forgot-container .show.mme-pinlabel,
.m-442218.mme-gateway #mme-forgot-container .for-remember-wrap .forgot-passcode {
    color:#fff;
}

.m-442218.mme-gateway .form-element .floating-labeltest,
.m-442218.mme-gateway .form-element input:focus ~ .floating-label,
.m-442218.mme-gateway .form-element input:not(:focus):valid ~ .floating-label,
.m-442218.mme-gateway .form-element input:disabled ~ .floating-label, .applicationv2 .form-element .floating-labelx {
    font-weight: 400;
}

.m-442218 #mme-login-container .mme-pin input, .m-442218 #mme-set-pass-container .mme-pin input {
    background: rgba(250, 250, 250, .2);
}

.m-442218.mme-gateway .form-element input:not(:focus):valid:placeholder-shown ~ .floating-label {
    font-weight: 400;
}

.m-442218.mme-gateway .inputPin {
    width: 22%;
    height: 60px;
    border: 1px solid #c6c6c6;
    margin-right: 4px !important;
    border-radius: 6px;
    -webkit-text-security: disc;
    padding-bottom:0;
    text-align:center;
}

.m-442218.mme-gateway .inputPin:active, .m-442218.mme-gateway .inputPin:focus {
    border: 2px solid #00d1d0!important;
    outline:none!important;
}

.m-442218.mme-gateway .show.mme-pinlabel {
    font-size: 12px;
    margin-bottom: 10px;
    color: #00d1d0;
}

.m-442218.mme-gateway .inputPin.active {
    border: 2px solid #00d1d0!important;
    outline: none;
}

.m-442218.mme-gateway .for-remember-wrap .forgot-passcode {
    float: left;
    color: #00d1d0;
    font-size: 12px;
}

.m-442218.mme-gateway .for-remember-wrap .btn-signup {
    color: #777777;
}

.m-442218.mme-gateway .for-remember-wrap .btn-signup a.btn {
    font-size: 11px;
    border-radius: 4px;
    padding: 1.6px 4.8px;
    margin-left: 5px;
    text-decoration:none;
    color: #000;
    background-color: #04FF8E;
}

.entry-content .m-442218.mme-gateway a {
    box-shadow:inherit;
}

.m-442218.mme-gateway .for-remember-wrap .btn-signup {
    font-size: 11px;
}

/* Placeholder */
/* WebKit, Blink, Edge */
.m-442218.mme-gateway .form-element .inputText::-webkit-input-placeholder {
    visibility: hidden;
    color: transparent;
}
  
/* Mozilla Firefox 4 to 18 */
.m-442218.mme-gateway .form-element .inputText:-moz-placeholder {
    visibility: hidden;
    color: transparent;
}

/* Mozilla Firefox 19+ */
.m-442218.mme-gateway .form-element .inputText::-moz-placeholder {
    visibility: hidden;
    color: transparent;
}

/* Internet Explorer 10-11 */
.m-442218.mme-gateway .form-element .inputText:-ms-input-placeholder {
    visibility: hidden;
    color: transparent;
}

/* Microsoft Edge */
.m-442218.mme-gateway .form-element .inputText::-ms-input-placeholder {
    visibility: hidden;
    color: transparent;
}

/* Safari fix */
/* .form-element-select .inputSelect {
    width: 100%;
    padding-bottom: 0;
    border: none;
    border-bottom: 1px solid #c4c4c4;
    background: transparent;
    padding-left: 0;
    padding-bottom: 5px;
    margin-left: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    top: 0;
} */

/* Checkout forms */
.m-442218.mme-gateway .checkout-form .form-element {
    padding-top: 0;
}

.m-442218.mme-gateway .checkout-form .form-element label .required,
.m-442218.mme-gateway .checkout-form .form-element-select label .required {
    color: #ff0000;
}

.m-442218.mme-gateway .checkout-form .form-element .inputText {
    height: 50px;
}

.m-442218.mme-gateway .checkout-form .form-element .inputText,
.m-442218.mme-gateway .checkout-form .form-element-select .inputSelect {
    border: 1px solid #B2B2B2;
    padding-left: 15px;
}

.m-442218.mme-gateway .checkout-form .form-element-select .fa-caret-down,
.m-442218.mme-gateway .checkout-wrap .form-element-select .fa-caret-down {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.m-442218.mme-gateway .checkout-form .form-element textarea.inputText {
    min-height: 100px;
    padding-top: 5px;
    outline: none;
    box-shadow: none;
}

.m-442218.mme-gateway .checkout-form .form-element textarea::placeholder {
    color: #b2b2b2;  
}

/* radio element */
.m-442218.mme-gateway .form-element-radio {
    min-height: 35px;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

.m-442218.mme-gateway .form-element-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.m-442218.mme-gateway .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
    border: 1px solid #b2b2b2;
}
  
.m-442218.mme-gateway .form-element-radio:hover input ~ .checkmark {
    background-color: #ccc;
}

.m-442218.mme-gateway .form-element-radio input:checked ~ .checkmark {
    background-color: #000000;
    border: 1px solid #000000;
}

.m-442218.mme-gateway .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.m-442218.mme-gateway .form-element-radio input:checked ~ .checkmark:after {
    display: block;
}

.m-442218.mme-gateway .form-element-radio .checkmark:after {
    top: 4px;
    left: 4px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
}

.m-442218.mme-gateway .checkout-form h2 {
    font-size: 23px;
    font-weight: 900;
}

.m-442218.mme-gateway .checkout-form fieldset {
    margin-bottom: 40px;
}

.m-442218.mme-gateway .checkout-form .order-box-info {
    border: 1px solid #b2b2b2;
    padding: 30px 20px;
    margin-bottom: 20px;
}

.m-442218.mme-gateway .checkout-form .btn-place-order,
.m-442218.mme-gateway .order-completed .btn-view-order {
    height: 55px;
    background-color: #000000;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 0;
    font-weight: 900;
}

.m-442218.mme-gateway .checkout-form .form-your-order h2 {
    margin-bottom: 40px;
}

.m-442218.mme-gateway .checkout-form .form-your-order .order-row {
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #b2b2b2;
}

.m-442218.mme-gateway .checkout-form .form-your-order .order-row:last-child {
    border-bottom: none;
}

.m-442218.mme-gateway .checkout-form .form-payment h2 {
    margin-bottom: 20px;
}

.m-442218.mme-gateway .checkout-form .terms {
    margin-bottom: 30px;
}

/* Modal */
.m-442218.mme-gateway .modal-header {
    position: relative;
}

.m-442218.mme-gateway .modal-content {
    background: none;
    border: none;
    box-shadow: none !important;
    width: 100% !important;
}

.m-442218.mme-gateway .modal-body {
    background-color: #ffffff;
    border-radius: 10px;
}

.m-442218.mme-gateway .modal .close {
    color: #ffffff;
    font-size: 32px;
    font-weight: 400;
    text-shadow: none;
    opacity: 1;
    position: relative;
    right: -18px;
    top: 10px;
}

.m-442218.mme-gateway .modal .close:hover {
    background: transparent;
}

.m-442218.mme-gateway .modal-backdrop.show {
    opacity: .7;
}

/* Modal | content */
.m-442218.mme-gateway .checkout-wrap {
    padding: 30px;
}

.m-442218.mme-gateway .checkout-wrap.set-pass {
    padding-left:15px;
    padding-right:15px;
}

.entry-content .m-442218.mme-gateway .checkout-wrap h2 {
    margin:inherit;
    margin-bottom:20px;
    padding-top:0;
}

.entry-content .m-442218.mme-gateway .checkout-wrap h2:after,
.entry-content .m-442218.mme-gateway .checkout-wrap h2:before,
.m-442218.mme-gateway .sms-sent-content h2:before,
.m-442218.mme-gateway .app-success-content h2:before {
    content:inherit;
}

.m-442218.mme-gateway .checkout-wrap h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: #00d1d0;
    margin-bottom: 20px;
}



.m-442218.mme-gateway .checkout-wrap .loading {
    padding-bottom: 10px;
}

.m-442218.mme-gateway .mme-logo-wrap {
    padding-bottom: 20px;
}

.m-442218.mme-gateway .mme-logo-wrap svg, .m-442218.mme-gateway .mme-logo-wrap img {
    max-width: 180px !important;
    position: relative;
    left: 19px;
}

.m-442218.mme-gateway .button-wrap {
    padding-bottom: 10px;
}

.m-442218.mme-gateway .button-default {
    border-radius: 8px;
    position: relative;
    padding: 7.6px 7.6px;
}

.m-442218.mme-gateway .button-default svg {
    position: absolute;
    right: 10px;
    top: 12px;
}

.m-442218.mme-gateway .button-default img.loading {
    position: absolute;
    right: 10px;
    top: 6px;
}

.m-442218.mme-gateway .btn-loading {
    opacity: .65;
}

/* Modal | content innner */

.m-442218.mme-gateway .modal-content-inner .modal-body {
    padding: 0;
}

.m-442218.mme-gateway .modal-content-inner .button-wrap {
    margin: 0 20px;
}

.m-442218.mme-gateway .checkout-header {
    display: flex;
    border-radius: 10px 10px 0 0;
    padding: 15px 20px 20px 20px;
}

.m-442218.mme-gateway .checkout-header .mme-logo-wrap {
    margin-right: auto;
}

.m-442218.mme-gateway .checkout-header .mme-logo-wrap img {
    min-width: 130px;
}

.m-442218.mme-gateway .checkout-header .info-wrap {
    margin-left: auto;
    color: #ffffff !important;
    text-align: right;
    line-height: 15px;
}

.m-442218.mme-gateway .checkout-header .info-wrap span.help {
    font-size: 12px;
    color: #fff !important;
    background: none !important;
    border: none !important;
}

.m-442218.mme-gateway .checkout-header .info-wrap a {
    color: #ffffff;
}

/* Modal | User options */

.m-442218.mme-gateway .user-wrap {
    padding: 40px 30px;
}

.m-442218.mme-gateway .user-wrap .mme-logo-wrap {
    padding-bottom: 40px;
}

.m-442218.mme-gateway .user-wrap .mme-logo-wrap svg {
    position: relative;
    left: 19px;
}

.m-442218.mme-gateway .login-wrap .mme-logo-wrap svg, .m-442218.mme-gateway .login-wrap .mme-logo-wrap img {
    position: relative;
    left: 12px;
    display:block;
    margin:0 auto;  
}

/* Modal | User login */

.m-442218.mme-gateway p, .wc_payment_methods .payment_box .m-442218.mme-gateway p{
    font-family:'Lato';
}

.wc_payment_methods .payment_box .m-442218.mme-gateway .purchase-form p,
.wc_payment_methods .payment_box .m-442218.mme-gateway .purchase-form p:first-child{
    font-size:15.2px;
}

.wc_payment_methods .payment_box .m-442218.mme-gateway .purchase-form p{
    margin-bottom:15px!important;
}

.wc_payment_methods .payment_box .m-442218.mme-gateway .purchase-form p.mb-0{
    margin-bottom:0px!important;
}

.m-442218.mme-gateway .login-wrap h2 {
    color: #777777;
    font-size: 28px;
}

.m-442218.mme-gateway .login-wrap h2.white-text {
    color:#fff;
}
a.white-text{
    text-decoration: underline;
}
.m-442218.mme-gateway .login-wrap.set-pass h2{
    font-size:26px !important;
}

/* Modal | User signup */
.m-442218.mme-gateway .signup-wrap h3 {
    font-size: 16px;
    text-align: center;
    color: #777777;
    margin-bottom: 20px;
}

.entry-content .m-442218.mme-gateway .signup-wrap h3 {
    margin-top:inherit;
    margin-left:inherit;
    margin-bottom:20px;
    margin-right:inherit;
    padding-top:0;
}

.m-442218.mme-gateway .signup-header {
    background: #009e9d;
    background: -moz-linear-gradient(140deg, #009e9d 0%,#00bdb8 60%,#49ffaf 100%);
    background: -webkit-linear-gradient(140deg, #009e9d 0%,#00bdb8 60%,#49ffaf 100%);
    background: linear-gradient(140deg, #009e9d 0%,#00bdb8 60%,#49ffaf 100%);
}

.m-442218.mme-gateway .signup-header .mme-logo-wrap {
    padding-bottom: 0;
}

/* Modal | User account */
.m-442218.mme-gateway .user-account-header {
    background: #efefefef;
}

.m-442218.mme-gateway .user-account-header .mme-logo-wrap {
    padding-bottom: 0;
}

.m-442218.mme-gateway .user-account-header .info-wrap span.name {
    color: #777777;
    font-size: 15px;
    display: block;
    padding-top: 12px;
    font-weight: 700;
}

.m-442218.mme-gateway .user-account-overdue {
    color: #ffffff;
    text-align: center;
    padding: 13px 0;
    background: #c14848;
    background: -moz-linear-gradient(180deg, #c14848 0%,#d44f4f 60%,#e75656 100%);
    background: -webkit-linear-gradient(180deg, #c14848 0%,#d44f4f 60%,#e75656 100%);
    background: linear-gradient(180deg, #c14848 0%,#d44f4f 60%,#e75656 100%);
}

.m-442218.mme-gateway .user-account-payment-plan {
    display: block !important;
    text-align: center !important;
}

.m-442218.mme-gateway .user-account-alert img.warning {
    width: 18px;
    display: inline-block;
    top: -3px;
    position: relative;
    left: -2px;
}

.m-442218.mme-gateway .account-purchase-wrap .amount-wrap span.label {
    padding: 4px 15px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 400;
}

.m-442218.mme-gateway .account-overdue .amount-wrap span.label {
    background-color: #f0f0f0;
}

.m-442218.mme-gateway .account-purchase .amount-wrap span.label {
    background-color: #e8fbfa;
}

.m-442218.mme-gateway .account-purchase-wrap .amount-wrap p.amount {
    font-size: 40px;
    font-weight: 700;
    color: #777777;
    margin-bottom:16px;
}

.m-442218.mme-gateway .account-purchase .amount-wrap p.amount {
    color: #00d1d0;
}

.m-442218.mme-gateway .account-purchase-wrap .amount-wrap p.amount span.decimal {
    font-size: 24px;
}

.m-442218.mme-gateway .purchase-form p,
.m-442218.mme-gateway .purchase-form small {
    color: #777777;
}
.m-442218.mme-gateway .purchase-form p .mme-qty{
    font-size: 11px;
    color: #bababa;
}

.m-442218.mme-gateway .purchase-form small {
    font-size: 11px;
    line-height: 14px;
    display: inline-block;
    padding: 0 40px;
}

.m-442218.mme-gateway .divider {
    border-top: 1px dashed #777777 !important;
    margin:16px;
    margin: 16px 0;
    background: transparent !important;
}

.m-442218.mme-gateway .divider:before, .m-442218.mme-gateway .divider:after {
    content:inherit;
}

.m-442218.mme-gateway .user-account-credit {
    color: #ffffff;
    display: flex;
    padding: 13px 20px;
    background: #009e9d;
    background: -moz-linear-gradient(140deg, #009e9d 0%,#00bdb8 60%,#21c874 100%);
    background: -webkit-linear-gradient(140deg, #009e9d 0%,#00bdb8 60%,#21c874 100%);
    background: linear-gradient(140deg, #009e9d 0%,#00bdb8 60%,#21c874 100%);
    border-bottom: 1px solid #189585;
}

.m-442218.mme-gateway .user-account-credit label {
    margin-right: auto;
}

.m-442218.mme-gateway .user-account-credit .amount {
    margin-left: auto;
}

.m-442218.mme-gateway .modal-body {
    position: relative;
}

.m-442218 #mme-select-container .modal-body, .m-442218 #mme-login-container .modal-body, .m-442218 #mme-forgot-container .modal-body, .m-442218 #mme-set-pass-container .modal-body {
    background: rgb(0,119,117);
    background: -moz-linear-gradient(-180deg, rgba(0,119,117,1) 0%, rgba(0,151,147,1) 50%, rgba(0,172,159,1) 100%);
    background: -webkit-linear-gradient(-180deg, rgba(0,119,117,1) 0%, rgba(0,151,147,1) 50%, rgba(0,172,159,1) 100%);
    background: linear-gradient(-180deg, rgba(0,119,117,1) 0%, rgba(0,151,147,1) 50%, rgba(0,172,159,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#007775",endColorstr="#00ac9f",GradientType=1);
}

.m-442218.mme-gateway .payment-success-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #0d5a5a;
    z-index: 2;
    opacity: 0.90;
    border-radius: 10px;
    text-align: center;
}

.m-442218 #mme-btn-signup-select,  .m-442218 #mme-btn-login-select{
    -webkit-box-shadow: 0px 10px 15px -2px rgba(0,0,0,0.27); 
    box-shadow: 0px 10px 15px -2px rgba(0,0,0,0.27);
}

.m-442218.mme-gateway .payment-success-content {
    width: 100%;
    position: absolute;
    top: 160px;
    opacity: 1;
    z-index: 3;
    text-align: center;
}

.m-442218.mme-gateway .payment-success-content img {
    width: 165px;
    margin-bottom: 25px;
    animation-duration: 0.5s;
}

.m-442218.mme-gateway .payment-success-content h2 {
    font-family: 'Lexend Deca', sans-serif;
    color: #ffffff;
    margin-bottom: 78px;
    animation-duration: 0.5s;
}

.m-442218.mme-gateway .payment-success-content .counter {
    font-size: 16px;
    color: #ffffff;
    animation-duration: 0.5s;
}

.m-442218.mme-gateway .sms-sent-content {
    top: 75px;
}

.m-442218.mme-gateway .sms-sent-content img {
    width: 100px;
    animation-duration: 0.5s;
}

.m-442218.mme-gateway .sms-sent-content img.spinner {
    width:80px;
    margin-bottom:50px;
}

.m-442218.mme-gateway .sms-sent-content img.sms-logo{
    width: 200px;
}

.m-442218.mme-gateway .sms-sent-content h2 {
    margin-bottom: 20px;
    animation-duration: 0.5s;
    margin-top:0;
    padding-top:0;
    font-size: 35px;
    padding: 0px 30px;
}


.wc_payment_method .payment_box a.blue-text{
    color: #00d1d0!important;
}

.m-442218.mme-gateway .sms-sent-content .message {
    padding-top: 70px;
    animation-duration: 0.5s;
}

.m-442218.mme-gateway .sms-sent-content .button-wrap {
    margin: 0 50px;
}

.m-442218.mme-gateway .app-overlay {
    background: #009895;
    background: -moz-linear-gradient(180deg, #009895 0%,#00bbb1 60%,#00d7bb 100%);
    background: -webkit-linear-gradient(180deg, #009895 0%,#00bbb1 60%,#00d7bb 100%);
    background: linear-gradient(180deg, #009895 0%,#00bbb1 60%,#00d7bb 100%);
}

.m-442218.mme-gateway .app-success-content {
    top: 80px;
}

.m-442218.mme-gateway .app-success-content img {
    margin-bottom: 5px;
    animation-duration: 0.5s;
}

.m-442218.mme-gateway .app-success-content h2 {
    margin-bottom: 40px;
    animation-duration: 0.5s;
    margin-top:0;
    padding-top:0;
}

/* Order completed */
.m-442218.mme-gateway .order-completed {
    text-align: center;
    padding-top: 40px;
}

.m-442218.mme-gateway .order-completed img {
    width: 150px;
    margin-bottom: 40px;
}

.m-442218.mme-gateway .order-completed h2 {
    font-size: 26px;
    font-weight: 900;
    margin-bottom: 20px;
}

.m-442218.mme-gateway .order-completed .message {
    font-size: 16px;
    margin-bottom: 50px;
}

.m-442218.mme-gateway .order-completed .btn-view  {
    width: 220px;
    margin-right: auto;
}

.m-442218.mme-gateway .order-completed .btn-back {
    width: 220px;
    background: #ffffff;
    border: 1px solid #000000;
    color: #000000;
    margin-left: auto;
}

.m-442218.mme-gateway #loader {
    background: #000000;
    width: 100%;
    height:100vh;
    min-height: 1500px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 99999;
    opacity: 0.5;
    text-align: center;
}

.m-442218.mme-gateway #loader img {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.m-442218.mme-gateway .payment-success-content img.sccs-pymnt-spinner {
    max-width: 80px;
    margin-bottom: 40px;
    margin-top: 20px;
}

.entry-content img.cnfm-spinner-icon {
    position: absolute;
    right: 10px;
    top: 6px;
    display:none !important;
}

.mme-login-loading, .mme-signup-loading {
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    border-radius: 9px;
    z-index: 90;
}

.mme-login-loading img.pre-loader-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -45px;
    margin-top: -45px;
    max-width: 90px !important;
}
/* Modal | media */

@media (max-width: 767.98px) {
    .m-442218.mme-gateway .order-completed .btn-view-order {
        width: 100%;
        margin: 0 auto 10px auto;
    }

    .m-442218.mme-gateway .checkout-wrap.login-wrap {
        padding:30px 15px;
    }
}

@media (min-width: 576px) {
    .m-442218.mme-gateway .modal-dialog {
        max-width: 380px;
        margin: 0 auto;
    }
}
.floating-label2{
    bottom: 10px;
    top: -6px !important;
    left: 0;
    font-size: 14px;
    opacity: 1;
    position: absolute;
    color: #00d1d0;
    outline: none;
    font-family: 'Lato', Arial, sans-serif;
}
#sms-content-continue{
    display: none;
}
#mme-set-pass-container a{
    cursor: pointer;
    text-decoration: underline !important;
}
.mme-have-account a{
    color: #00d1d0 !important;
    cursor: pointer;
    text-decoration: underline !important;
}
#mme-btn-back{
    color: #fff !important;
}

#mme-account-modal .account-purchase-wrap{
    padding: 0px !important;
}
#mme-account-modal .modal-form{
    padding: 10px 15px 0px 15px !important;
}
#mme-account-modal .m-442218.mme-gateway .divider{
    margin: 0px !important;
    border-top: 1px solid #000;
}
#mme-account-modal .divider{
    margin: 0px !important;
}
#mme-account-modal .mme-whole-amt{
    color: #04D2D1 !important;
}
.m-442218.mme-gateway .purchase-form p.mme-interest-wrap{
    background-color: #E8F9F9;
    color: #04D2D1;
    padding: 11px !important;
    font-size: 13px !important;
}
.m-442218.mme-gateway .purchase-form p.mme-interest-wrap img{
    width: 22px;
    padding-bottom: 5px;
    padding-right: 5px;
}
.m-442218.mme-gateway .mme-cart-item p{
    line-height: 30px;
    font-size: 14px !important;
}
.m-442218.mme-gateway .mme-credit-decimal{
    font-size: 11px !important;
}
.mme-border .mme-h3{
    margin-left: 0px !important;
    padding: 0px !important;
}
#mme-btn-signup-select-validate .txt_label{
    font-size: 15px !important;
}
#mme-btn-signup-select-validate svg{
    top: 15px !important;
}

