/* The Modal (background) */
    
#mme-modal{
    font-family: "Lato", Arial;
    font-weight: 400;
    overflow: hidden;
}

#mme-modal .mme-container-wrap{
    display: none;
}
#mme-modal .mme-block{
    display: block;
}
#mme-modal > h1, h2, h3, h4{
    font-family: "Lato", Arial !important;
    font-weight: 400;
}
#mme-modal p{
    font-family: "Lato", Arial !important;
    font-weight: 400;
}
#mme-modal .mme-account{
    padding: 12px !important;
}
#mme-modal .mme-account .mme-amount-wrap .label{
    background-color: #f0f0f0 !important;
    color: #000 !important;
}
#mme-modal .mme-account small, #mme-modal .mme-account p, #mme-modal .mme-account span{
    color: #777777;
}
.mme-account .mme-label, .mme-account .mme-value{
    font-size: 17px !important;
}
#mme-modal .mme-account button{
    font-family: "Lato", Arial !important;
    font-weight: 600;
    text-decoration: none;
    background: #b2b2b2;
    font-size: 16px;
    padding: 10px 20px;
}
#mme-modal > h1, h2{
    font-weight: 700;
}
#mme-modal h3{
    font-weight: 400;
}
#mme-modal svg, #mme-modal img, #mme-modal embed, #mme-modal object{
    display: initial;
}
#mme-modal .text-center{
    text-align: center;
}
#mme-modal .text-right{
    text-align: right;
}

#mme-modal #mme-select-container .mme-logo-wrap{
    padding-bottom: 40px !important;
}
#mme-modal #mme-login-container{
    padding: 30px;
}
#mme-modal #mme-login-container .mme-logo-wrap{
    padding-bottom: 20px !important;
}
#mme-modal #mme-login-container h2{
    color: #777777 !important;
    font-size: 28px !important;
}
#mme-modal #mme-select-container button{
    font-size: 15px;
    text-decoration: none;
    outline: none;
}
#mme-modal .pb-4{
    padding-bottom: 24px!important;
}
#mme-modal .pt-4{
    padding-top: 24px!important;
}
#mme-modal .signup-header{
    background: linear-gradient(140deg, #009e9d 0%,#00bdb8 60%,#49ffaf 100%);
    border-radius: 10px 10px 0 0;
    padding: 15px 20px 20px 20px;
    display: flex;
}
#mme-modal .mme-logo-wrap img {
    max-width: 180px;
    min-width: 130px;
}
#mme-modal .checkout-header .info-wrap {
    margin-left: auto;
    color: #ffffff;
    text-align: right;
    line-height: 15px;
}
#mme-modal .checkout-header .info-wrap .help{
    color: #ffffff;
}
#mme-modal .checkout-header .info-wrap span{
    font-size: 12px !important;
}
#mme-modal .checkout-header .info-wrap a{
    color: #fff !important;
    text-decoration: none;
}
#mme-modal .mme-remember-wrap{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #777777;
}
#mme-modal .mme-remember-wrap a{
    color: #00d1d0;
    text-decoration: none;
}
#mme-modal .mme-remember-wrap a.mme-signup-sm{
    padding: 2px 5px;
    border-radius: 4px;
    font-size: 11px;
}
.modal {
    display: none; 
    position: fixed; 
    z-index: 999999; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.7);
    font-size: 14px;
}
#mme-modal .mme-body{
    padding: 18px;
}
#mme-modal .mme-body h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: #00d1d0;
    margin: 0 !important;
    margin-bottom: 20px !important;
}
#mme-select-container-wrap{
    padding: 40px 30px;
}
#mme-modal .mme-account-header{
    background: #efefefef !important;
    display: flex;
    border-radius: 10px 10px 0 0;
    padding: 15px 20px 20px 20px;
}
#mme-modal .mme-overlay{
    position: absolute;
    width: 380px;
    height: 554px;
    background: rgba(13, 90, 90, 0.9);
    z-index: 9999;
    border-radius: 10px;
    text-align: center;
    display:none;
}
#mme-modal .mme-template > .mme-overlay{
    height: 599px;
}
#mme-modal .mme-overlay-wrap{
    display: flex;
    height: 100%;
    align-items: center;
}
#mme-modal .mme-overlay-wrap > div{
    width: 100%;
}
#mme-modal .mme-overlay-wrap div,  #mme-modal .mme-overlay-wrap h2, #mme-modal .mme-overlay-wrap p{
    color: #fff;
}
#mme-modal .mme-overlay-wrap > div > h2{
    margin: 30px 0;
    font-size: 33px;
}
#mme-modal .mme-overlay-wrap > div > .button-wrap{
    margin: 0 50px;
}
#mme-modal .mme-overlay-wrap > div > .button-wrap > button{
    font-size: 16px;
}
#mme-modal .mme-overlay img{
    width: 150px;
}
#mme-modal .mme-account-credit{
    background: linear-gradient(140deg, #009e9d 0%,#00bdb8 60%,#21c874 100%);
    border-bottom: 1px solid #189585;
    color: #ffffff;
    display: flex;
    padding: 13px 20px;
    font-size: 14px;
}

#mme-modal .mme-account-credit .amount{
    margin-left: auto;
}
#mme-modal .mme-account-overdue{
    background: linear-gradient(180deg, #c14848 0%,#d44f4f 60%,#e75656 100%);
    justify-content: center;
    border: none;
}
#mme-modal .mme-account-overdue img{
    width: 18px;
}
#mme-modal .mme-account-header .mme-info{
    margin-left: auto;
    color: #ffffff;
    text-align: right;
    line-height: 15px;
    color: #777777;
    font-size: 15px;
    display: block;
    padding-top: 12px;
    font-weight: 700;
}
#mme-modal .mme-amount-wrap .label{
    padding: 4px 15px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 400;
    background-color: #f0f0f0;
}
.mme-account-row{
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}
#mme-modal .mme-amount-wrap .amount{
    font-size: 40px;
    font-weight: 700;
    color: #777777;
}
#mme-modal .mme-amount-wrap .amount .decimal{
    font-size: 24px;
}
#mme-modal .mme-body h3 {
    font-size: 16px;
    text-align: center;
    color: #777777;
    margin: 0 !important;
    margin-bottom: 20px !important;
}
#mme-modal .modal-content {
    background-color: #fff;
    margin: 15px auto;
    margin-top: 70px;
    width: 380px;
    border-radius: 10px;
}
#mme-modal .mme-pin{
    display: flex !important;
    justify-content: flex-start !important;
}
#mme-modal .mme-pinlabel{
    font-size: 12px;
    margin-bottom: 10px;
    color: #00d1d0;
}
#mme-modal .mme-pin input{
    width: 22%;
    font-size: 18px;
    height: 60px;
    border: 2px solid #c6c6c6;
    border-radius: 6px;
    outline: none;
    margin-right: 4px;
    text-align: center;
}
#mme-modal .mme-pin input:focus{
    border: 2px solid #00d1d0!important;
}
/* mme form */
.mme-form-field{
    margin-bottom: 15px !important;
    padding-top: 20px !important;
}
.mme-form-field input, .mme-form-field input[type="text"]:focus{
    border: none !important;
    border-bottom: 1px solid #c6c6c6 !important;
    outline: none !important;
    padding: 0px !important;
    padding-bottom: 6px !important;
    font-size: 20px !important;
}
.mme-form-field > input, select{
    color: #777;
    height: 40px !important;
}
#mme-signup-container .mme-form-field select{
    width: 80px;
}
#mme-signup-container .mme-err-status{
    font-size: 12px !important;
}
.mme-form-field input[type="text"]:focus::placeholder{
    color: transparent;
}

.mme-form-field input:not(:focus):valid:placeholder-shown ~ .floating-label{
    margin-top: -34px;
    font-size: 20px;
    color: #777777;
    opacity: 0.01;
}

.mme-form-field input:focus ~ .floating-label, .mme-form-field input:not(:focus):valid ~ .floating-label{
    margin-top: -60px;
    font-size: 12px;
    opacity: 1;
    color: #00d1d0;
    position: absolute;
    transition: 0.2s ease all;
}

.mme-form-field select{
    outline: none !important;
    padding: 0px !important;
    padding-bottom: 6px !important;
    font-size: 20px !important;
    border: none !important;
    border-bottom: 1px solid #c6c6c6 !important;
}

/* The Close Button */
.mme-close{
    position: absolute;
    text-align: right;
    width: 380px;
    margin-top: -49px;
}
.close {
    color: #fff;
    font-size: 40px;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
}
.payment_method_mme_gateway{
    background-color: #fff !important;
}
.mme-border{
    border: 1px #ccc solid;
    padding: 10px;
    font-size: 12px;
    width: 80%;
}
.mme-border p{
    font-size: 16px !important;
    font-family: "Lato", Arial !important;
    color: #000;
}
.mme-border h3{
    font-size: 16px;
    margin: 10px 0 5px !important;
    font-weight: bold;
    font-family: "Lato", Arial !important;
    color: #000;
}
.mme-place-btn{
    padding: 10px !important;
    font-size: 12px !important;
    text-decoration: none;
}
.mme-noneligible-btn{
    padding: .475rem 1.75rem;
    background: #b6b6b6;
    color: #fff;
    border-radius: 8px;
    text-transform: none;
}
.mme-btn{
    font-family: "LexendDeca", Lato, Arial;
    font-size: 1rem;
    border-radius: 8px;
    width: 100%;
    position: relative;
    font-weight: 400 !important;
    text-transform: none;
    padding: 10px;
    outline: none !important;
    text-decoration: none !important;
    
}
.mme-btn svg{
    position: absolute;
    right: 15px;
    top: 14px;
}
.mme-btn img{
    right: 5px;
    top: 7px;
    position: absolute;
}
#mme-modal .mme-account .mme-btn img.mme-imgloader{
    display: none;
}
.mme-btn-green{
    background: #04FF8E !important;
    color: #000 !important;
}
.mme-btn-blue{
    background: #00d1d0 !important;
    color: #fff !important;
}
.mme-show{
    display: block !important;
}
#mme-modal hr.mme-divider{
    border-top: 1px dashed #777777;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: none !important;
}
#mme-modal .signup-wrap{
    padding: 12px !important;
}
#mme-modal hr.mme-divider::before, #mme-modal hr.mme-divider::after{
    background: none !important;
}
#mme-modal .mme-inline{
    display: flex;
    justify-content: space-between;
}
.mme-inline .mme-sm{
    width: 100px;
    margin-right: 10px;
}
.mme-login-loading, .mme-signup-loading{
    display: none;
}

#mme-proceed-pay{
    display:none;
}
.mme-noneligible-btn{
    outline: none;
}
#payment_method_mme_gateway ~ label > svg{
    display: inline;
}
#payment_method_mme_gateway ~ label > img{
    height: 48px !important;
    width: 120px !important;
    position: relative !important;
    top: 8px !important;
    display: inline !important;
    max-height: initial !important;
    max-width: initial !important;
    float: none !important;
}
.mme-err-status{
    color: red; 
    font-size: 15px; 
    padding: 5px 0;
}
.mme-existing-account{
    padding: 20px;
    border: 1px #00d1d0 solid;
    background-color: #E8F9F9;
    border-radius: 7px;
    display: none;
}
.mme-existing-account button{
    background-color:  #00d1d0 !important;
    color: #fff !important;
}
#signup-status{
    margin-bottom: 15px;
}
.mme-existing-account img{
    width: 20px;
    border: none;
}
.mme-btn-disabled{
    background-color: #D8FFEE !important;
    color: #a7caba !important;
}
.mme-btn-disabled svg .aaf32895-5a89-4ae5-913b-673ab52e29e4{
    fill: #a7caba !important;
}
.mme-existing-client{
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    margin: 20px 0;
    text-align: center;
    display: none;
}
.mme-existing-client p{
    font-size: 13px !important;
}
#mme-signup-container{
    overflow-y: auto !important;
}